body {
  /* background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  ); */
  background-color: #e84855;
  /* background: linear-gradient(to left, #4286f4, #373b44); */
  font-family: "Muli", sans-serif;
}
h1 {
  color: black;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  margin-top: 20px;
}

.fa-info-circle {
  color: yellow;
}

.input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
  width: 70%;
  text-align: center;
}

::placeholder {
  color: white;
  text-align: center;
}
.btn-danger {
  background-color: #2f2f2f;
  color: white;
  margin-top: 20px;
}
#contenido h3 {
  color: yellow;
}

/* img {
  margin-top: 4rem; */
/*  animation: 300ms latido infinite; */
/*  position: absolute; */
/* 
  animation: rebota 1s alternate infinite ease-out;
}
 */

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  background: radial-gradient(
    circle at 0 0,
    hsl(60, 100%, 50%) 25%,
    hsl(60, 100%, 30%) 70%,
    hsl(60, 100%, 1%)
  );
  animation: rebota 1s alternate infinite ease-in;
}

/* @keyframes rebota {
  90% {
    height: 200px;
  }

  100% {
    transform: translateY(150px);
    height: 200px;
  }
} */

/* @keyframes rebota {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(500px);
  }
}
 */
@keyframes rebota {
  /* =0% */
  from {
    transform: translateY(0);
  }
  /*  =100% */
  to {
    transform: translateY(100px) scale(1, 5);
  }
}

#contenido h6 {
  /*  background-color: yellow; */
  background: radial-gradient(
    circle at 0 0,
    hsl(60, 100%, 50%) 25%,
    hsl(60, 100%, 30%) 70%,
    hsl(60, 100%, 1%)
  );

  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

#message {
  color: white;
  margin-top: 6rem;
  font-size: 1.5em;
}

.footer {
  background-color: #263238;
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.fa-heart {
  color: red;
}

.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  h1 {
    color: black;
    text-align: center;
    font-family: "Press Start 2P", cursive;
    margin-top: 20px;
    font-size: 30px;
  }
  .footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;

    align-items: center;
    flex-direction: column;
  }
}
