body {
  background-color: #e84855;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: black;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  margin-top: 20px;
}

h2 {
  text-align: center;
}
.container-btn-add {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.btn-warning {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  color: black;
  margin-top: 10px;
}

.fa-info-circle {
  color: yellow;
}

.input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
  width: 70%;
  text-align: center;
}

::placeholder {
  color: white;
  text-align: center;
}
.btn-danger {
  background-color: #2f2f2f;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  color: white;
  margin-top: 0px;
  display: block !important;
}
#contenido h3 {
  color: yellow;
  margin-top: 20px;
}

img {
  position: absolute;
  /*  width: 100%; */
  object-fit: cover;
  max-width: 12% !important;
  /* height: 100%; */
  background: radial-gradient(
    circle at 0 0,
    hsl(60, 100%, 50%) 25%,
    hsl(60, 100%, 30%) 70%,
    hsl(60, 100%, 1%)
  );

  animation-name: rebota, pokemon;

  animation-duration: 1s, 0.9s;
  animation-iteration-count: infinite, 15;
  animation-direction: alternate;
  animation-timing-function: linear ease-in-out;
  position: relative;
  /* animation: 5s pokemon infinite linear; */
}

@keyframes rebota {
  90% {
    height: 100%;
  }

  100% {
    /*  transform: translateY(150px); */
    transform: translateY(100%);
    height: 100%;
  }
}

#contenido h6 {
  position: fixed;
  left: 0px;
  bottom: 40px;
  width: 100%;

  background: radial-gradient(
    circle at 0 0,
    hsl(60, 100%, 50%) 25%,
    hsl(60, 100%, 30%) 70%,
    hsl(60, 100%, 1%)
  );

  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

#message {
  color: white;
  margin-top: 6rem;
  font-size: 1.5em;
}

.footer {
  background-color: #263238;
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.fa-heart {
  color: red;
}

.footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  img {
    object-fit: cover;
    max-width: 150% !important;
  }

  h1 {
    color: black;
    text-align: center;
    font-family: "Press Start 2P", cursive;
    margin-top: 20px;
    font-size: 30px;
  }
  .footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;

    align-items: center;
    flex-direction: column;
  }

  @keyframes rebota {
    90% {
      height: 100%;
    }

    100% {
      transform: translateY(100%);
      height: 100%;
    }
  }

  @media screen and (max-height: 736px) {
    @keyframes rebota {
      90% {
        height: 100%;
      }

      100% {
        transform: translateY(80%);
        height: 100%;
      }
    }
  }

  @media screen and (min-height: 812px) {
    @keyframes rebota {
      90% {
        height: 100%;
      }

      100% {
        transform: translateY(140%);
        height: 100%;
      }
    }
  }

  @media screen and (min-height: 823px) {
    @keyframes rebota {
      90% {
        height: 100%;
      }

      100% {
        transform: translateY(105%);
        height: 100%;
      }
    }
  }

  @media screen and (max-height: 667px) {
    @keyframes rebota {
      90% {
        height: 100%;
      }

      100% {
        transform: translateY(65%);
        height: 100%;
      }
    }
  }
  @media screen and (max-height: 666px) {
    @keyframes rebota {
      90% {
        height: 100%;
      }

      100% {
        /*  transform: translateY(40%); */
        transform: translateY(40%);
        height: 100%;
      }
    }
  }
}

/* @media only screen and (max-height: 823px) {
    img {
      object-fit: cover;
      max-width: 80% !important;
    }
    @keyframes rebota {
      90% {
        height: 100%;
      }

      100% {
        transform: translateY(38%);
        height: 100%;
      }
    }
  }
  @media only screen and (max-height: 812px) {
    @keyframes rebota {
      90% {
        height: 100%;
      }

      100% {
        transform: translateY(35%);
        height: 100%;
      }
    }
  }
  @media only screen and (max-height: 736px) {
    img {
      width: 80%;
      height: 80%;
    }
    @keyframes rebota {
      90% {
        height: 100%;
      }

      100% {
        transform: translateY(28%);
        height: 100%;
      }
    }
  }
  @media only screen and (max-height: 731px) {
    img {
      width: 80%;
      height: 80%;
    }
    @keyframes rebota {
      90% {
        height: 100%;
      }

      100% {
        transform: translateY(25%);
        height: 100%;
      }
    }
  }
  @media only screen and (max-height: 667px) {
    img {
      width: 80%;
      height: 80%;
    }

    @keyframes rebota {
      90% {
        height: 100%;
      }

      100% {
        transform: translateY(15%);
        height: 100%;
      }
    }
  }
  @media only screen and (max-height: 640px) {
    img {
      width: 70%;
      height: 70%;
    }

    @keyframes rebota {
      90% {
        height: 100%;
      }

      100% {
        transform: translateY(28%);
        height: 100%;
      }
    }
  }
  @media screen and (max-height: 568px) {
    img {
      width: 100%;
      height: auto;
    }

    @keyframes rebota {
      90% {
        height: 100%;
      }

      100% {
        transform: translateY(10%);
        height: 100%;
      }
    }
  } */
