/* .spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*/

#spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  visibility: hidden;
}
#spinner div {
  transform-origin: 40px 40px;
  animation: spinner 1.2s linear infinite;
}
#spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
#spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
#spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
#spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
#spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
#spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
#spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
#spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
#spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
#spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
#spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
#spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
#spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* #spinner {
  visibility: hidden;
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
#spinner.show {
  visibility: visible;
}

/* 
.loader-page {
  position: fixed;
  z-index: 25000;
  background: rgb(255, 255, 255);
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.loader-page::before {
  content: "";
  position: absolute;
  border: 2px solid rgb(50, 150, 176);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 2px solid rgba(50, 150, 176, 0);
  border-top: 2px solid rgba(50, 150, 176, 0);
  animation: rotarload 1s linear infinite;
  transform: rotate(0deg);
}
@keyframes rotarload {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-page::after {
  content: "";
  position: absolute;
  border: 2px solid rgba(50, 150, 176, 0.5);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 2px solid rgba(50, 150, 176, 0);
  border-top: 2px solid rgba(50, 150, 176, 0);
  animation: rotarload 1s ease-out infinite;
  transform: rotate(0deg);
}
 */
